In [2]:
# Task 1
import pandas as pd # Import the pandas library, commonly aliased as 'pd'

# --- 1. Create the Project DataFrame ---
# Define the data for the Project DataFrame as a dictionary
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000], # Use None for missing values
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
# Create the Project DataFrame from the dictionary
df_projects = pd.DataFrame(project_data)

# Display the first few rows to verify its creation
print("--- Project DataFrame ---")
print(df_projects.head())
print("\n") # Add a newline for better readability

# --- 2. Create the Employee DataFrame ---
# Define the data for the Employee DataFrame as a dictionary
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxemburg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
# Create the Employee DataFrame from the dictionary
df_employees = pd.DataFrame(employee_data)

# Display the first few rows to verify its creation
print("--- Employee DataFrame ---")
print(df_employees.head())
print("\n")

# --- 3. Create the Seniority Level DataFrame ---
# Define the data for the Seniority Level DataFrame as a dictionary
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
# Create the Seniority Level DataFrame from the dictionary
df_seniority_levels = pd.DataFrame(seniority_data)

# Display the first few rows to verify its creation
print("--- Seniority Level DataFrame ---")
print(df_seniority_levels.head())
print("\n")

# --- Save DataFrames to CSV files ---
# Save df_projects to a CSV file named 'projects.csv'
# index=False prevents pandas from writing the DataFrame index as a column in the CSV
df_projects.to_csv('projects.csv', index=False)
print("Project DataFrame saved to 'projects.csv'")

# Save df_employees to a CSV file named 'employees.csv'
df_employees.to_csv('employees.csv', index=False)
print("Employee DataFrame saved to 'employees.csv'")

# Save df_seniority_levels to a CSV file named 'seniority_levels.csv'
df_seniority_levels.to_csv('seniority_levels.csv', index=False)
print("Seniority Level DataFrame saved to 'seniority_levels.csv'")

--- Project DataFrame ---
     ID    Project       Cost    Status
0  A001  Project 1  1002000.0  Finished
1  A002  Project 2  2000000.0   Ongoing
2  A003  Project 3  4500000.0  Finished
3  A004  Project 4  5500000.0   Ongoing
4  A005  Project 5        NaN  Finished


--- Employee DataFrame ---
     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxemburg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30


--- Seniority Level DataFrame ---
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3


Project DataFrame saved to 'projects.csv'
Employee DataFrame saved to 'employees.csv'
Seniority Level DataFrame saved to 'seniority_levels.csv'

In [3]:
# Task 2
import pandas as pd # Import the pandas library

# --- Step 1: Load the Project DataFrame from the CSV file ---
# As per Task 1, we should now use the saved CSV files.
df_projects = pd.read_csv('projects.csv') # Load the projects.csv file into a DataFrame

# Display the DataFrame before imputation to see missing values
print("--- Project DataFrame Before Imputation ---")
print(df_projects)
print("\n")

# --- Step 2: Implement Missing Value Imputation using a For loop and Running Average ---
# Initialize a list to store non-missing 'Cost' values encountered so far
# This list will be used to calculate the running average.
seen_costs = []

# Iterate through each row of the 'Cost' column using a for loop
# We use .iterrows() to get both the index and the row data, which is useful for modification
for index, row in df_projects.iterrows():
    current_cost = row['Cost'] # Get the 'Cost' value for the current row

    if pd.isna(current_cost):
        # If there are no previous non-missing costs, we can't calculate a running average.
        # In such a case, we might fill with a default (e.g., 0 or the global mean)
        # For this task, we'll assume there will be previous values, or handle 0 if no prior.
        if len(seen_costs) > 0:
            # Calculate the running average from the 'seen_costs' list
            running_avg = sum(seen_costs) / len(seen_costs)
            # Replace the missing value in the DataFrame with the calculated running average
            df_projects.at[index, 'Cost'] = running_avg # .at[] is used for label-based, single-value access/update
            print(f"Replaced missing value at index {index} with running average: {running_avg:.2f}") # Print update
        else:
            # If no previous costs are available, we might fill with 0 or a predetermined default
            # For this dataset, this case should not happen for the first missing value
            df_projects.at[index, 'Cost'] = 0 # Fallback for no previous data
            print(f"Replaced missing value at index {index} with 0 (no prior non-missing values).")
    else:
        # If the value is not missing, add it to our list of seen_costs for future average calculations
        seen_costs.append(current_cost)

# Display the DataFrame after imputation
print("\n--- Project DataFrame After Imputation ---")
print(df_projects)

--- Project DataFrame Before Imputation ---
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished


Replaced missing value at index 4 with running average: 3250500.00
Replaced missing value at index 8 with running average: 2061714.29

--- Project DataFrame After Imputation ---
      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

In [4]:
#Task 3 
import pandas as pd # Import the pandas library

# --- Step 1: Load the Employee DataFrame from the CSV file ---
# As per Task 1, we should now use the saved CSV files for each task.
# We'll load the employee.csv file for this task.
df_employees = pd.read_csv('employees.csv')

# Display the original Employee DataFrame to show the 'Name' column
print("--- Employee DataFrame Before Splitting Name ---")
print(df_employees)
print("\n")

# --- Step 2: Split the 'Name' column into 'First Name' and 'Last Name' ---
# The .str accessor allows us to apply string methods to the Series.
# .split() splits the string by space (' ') by default.
# expand=True creates new columns for each part of the split string.
# We assume names are in "First Last" format.
# If names can have more parts (e.g., "John Van Doe"), this approach takes the first part as First Name
# and the rest as Last Name. For simplicity, we'll assume two parts.
df_employees[['First Name', 'Last Name']] = df_employees['Name'].str.split(' ', n=1, expand=True)
# n=1 ensures that it only splits on the first space, handling names like "Mary Ann" correctly
# where "Mary" would be First Name and "Ann" would be Last Name.

# --- Step 3: Remove the original 'Name' column ---
# .drop() is used to remove columns or rows.
# 'Name' is the column to drop.
# axis=1 specifies that we are dropping a column (axis=0 is for rows).
# inplace=True modifies the DataFrame directly without needing to reassign it.
df_employees.drop('Name', axis=1, inplace=True)

# --- Step 4: Reorder columns ---
cols = df_employees.columns.tolist()
# Define the desired order of columns
# We want 'ID', 'First Name', 'Last Name', then the rest
desired_order = ['ID', 'First Name', 'Last Name'] + [col for col in cols if col not in ['ID', 'First Name', 'Last Name']]
# Reindex the DataFrame with the desired order
df_employees = df_employees[desired_order]


# Display the Employee DataFrame after the modifications
print("--- Employee DataFrame After Splitting Name and Removing Original ---")
print(df_employees)

--- Employee DataFrame Before Splitting Name ---
     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxemburg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30


--- Employee DataFrame After Splitting Name and Removing Original ---
     ID First Name  Last Name Gender     City  Age
0  A001       John      Alter      M    Paris   25
1  A002      Alice  Luxemburg      F   London   27
2  A003        Tom  Sabestine      M   Berlin   29
3  A004       Nina      Adgra      F  Newyork   31
4  A005        Amy      Johny      F   Madrid   30

In [12]:
#Task 4
import pandas as pd # Import the pandas library

# --- Step 1: Load all three DataFrames from their respective CSV files ---
# This ensures each task starts with the required data from Task 1's output.
df_projects = pd.read_csv('projects.csv')
df_employees = pd.read_csv('employees.csv')
df_seniority_levels = pd.read_csv('seniority_levels.csv')

# Note: For df_employees, the 'Name' column was split in Task 3.
# The CSV 'employees.csv' saved in Task 1 still has the original 'Name' column.
# To properly join, we should first re-apply Task 3's logic or ensure the CSV is updated.
# Since the instruction for Task 1 was "From Task 2 to Task 10, use the saved .csv files only.",
# and Task 3 modified df_employees but didn't save it back, we need to re-apply Task 3's transformation
# to df_employees after loading it here, or ensure the CSV is updated at the end of Task 3.

# For the purpose of continuity and avoiding re-running previous tasks manually,
# let's assume Task 3's changes should persist in the 'employees.csv' for this task.
# If Task 3 did not save its output, this is a point of clarification for your project.
# To make this code runnable based on the current state (Task 1's CSVs),
# I'll re-apply the name splitting to df_employees after loading it here,
# just as a temporary measure for this task. Ideally, Task 3 would save its result.

# Re-applying Task 3 changes to df_employees for consistency (if not saved in Task 3)
# If Task 3 saved its output, you can remove this block.
df_employees[['First Name', 'Last Name']] = df_employees['Name'].str.split(' ', n=1, expand=True) # Split 'Name' column
df_employees.drop('Name', axis=1, inplace=True) # Remove original 'Name' column
cols = df_employees.columns.tolist() # Get current columns for reordering
desired_order = ['ID', 'First Name', 'Last Name'] + [col for col in cols if col not in ['ID', 'First Name', 'Last Name']] # Define desired order
df_employees = df_employees[desired_order] # Reorder columns
# End of re-application block


# Display the DataFrames before joining for context
print("--- Projects DataFrame ---")
print(df_projects.head())
print("\n--- Employees DataFrame (after Task 3 application) ---")
print(df_employees.head())
print("\n--- Seniority Levels DataFrame ---")
print(df_seniority_levels.head())
print("\n")

# --- Step 2: Join df_projects and df_employees ---
# Use a left merge to keep all project entries.
# The 'ID' column in df_projects refers to the Project Head's ID.
# The 'ID' column in df_employees refers to the employee's ID.
# These IDs are the same, so we merge on 'ID'.
# 'how='left'' ensures all rows from df_projects are kept.
# 'on='ID'' specifies the common column for merging.
merged_df = pd.merge(df_projects, df_employees, on='ID', how='left')
print("--- Merged DataFrame (Projects + Employees) Head ---")
print(merged_df.head())
print(f"Shape after first merge: {merged_df.shape}\n")

# --- Step 3: Join the result with df_seniority_levels ---
# Now, merge the 'merged_df' with 'df_seniority_levels' on the 'ID' column again.
# This will add the 'Designation Level' to our combined DataFrame.
# Again, use a left merge to maintain all existing rows.
Final = pd.merge(merged_df, df_seniority_levels, on='ID', how='left')

# --- Step 4: Display the final merged DataFrame ---
print("--- Final Merged DataFrame ---")
print(Final)
print(f"\nFinal DataFrame shape: {Final.shape}") # Print the shape of the final DataFrame

--- Projects DataFrame ---
     ID    Project       Cost    Status
0  A001  Project 1  1002000.0  Finished
1  A002  Project 2  2000000.0   Ongoing
2  A003  Project 3  4500000.0  Finished
3  A004  Project 4  5500000.0   Ongoing
4  A005  Project 5        NaN  Finished

--- Employees DataFrame (after Task 3 application) ---
     ID First Name  Last Name Gender     City  Age
0  A001       John      Alter      M    Paris   25
1  A002      Alice  Luxemburg      F   London   27
2  A003        Tom  Sabestine      M   Berlin   29
3  A004       Nina      Adgra      F  Newyork   31
4  A005        Amy      Johny      F   Madrid   30

--- Seniority Levels DataFrame ---
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3


--- Merged DataFrame (Projects + Employees) Head ---
     ID    Project       Cost    Status First Name  Last Name Gender     City  \
0  A001  Project 1  1002000.0  Finished       John      Alter      M    Paris
1  A002  Project 2  2000000.0   Ongoing      Alice  Luxemburg      F   London
2  A003  Project 3  4500000.0  Finished        Tom  Sabestine      M   Berlin
3  A004  Project 4  5500000.0   Ongoing       Nina      Adgra      F  Newyork
4  A005  Project 5        NaN  Finished        Amy      Johny      F   Madrid

   Age
0   25
1   27
2   29
3   31
4   30
Shape after first merge: (14, 9)

--- Final Merged DataFrame ---
      ID     Project       Cost    Status First Name  Last Name Gender  \
0   A001   Project 1  1002000.0  Finished       John      Alter      M
1   A002   Project 2  2000000.0   Ongoing      Alice  Luxemburg      F
2   A003   Project 3  4500000.0  Finished        Tom  Sabestine      M
3   A004   Project 4  5500000.0   Ongoing       Nina      Adgra      F
4   A005   Project 5        NaN  Finished        Amy      Johny      F
5   A002   Project 6   680000.0    Failed      Alice  Luxemburg      F
6   A005   Project 7   400000.0  Finished        Amy      Johny      F
7   A003   Project 8   350000.0    Failed        Tom  Sabestine      M
8   A001   Project 9        NaN   Ongoing       John      Alter      M
9   A003  Project 10   300000.0  Finished        Tom  Sabestine      M
10  A001  Project 11  2000000.0    Failed       John      Alter      M
11  A004  Project 12  1000000.0   Ongoing       Nina      Adgra      F
12  A004  Project 13  3000000.0  Finished       Nina      Adgra      F
13  A005  Project 14   200000.0  Finished        Amy      Johny      F

       City  Age  Designation Level
0     Paris   25                  2
1    London   27                  2
2    Berlin   29                  3
3   Newyork   31                  2
4    Madrid   30                  3
5    London   27                  2
6    Madrid   30                  3
7    Berlin   29                  3
8     Paris   25                  2
9    Berlin   29                  3
10    Paris   25                  2
11  Newyork   31                  2
12  Newyork   31                  2
13   Madrid   30                  3

Final DataFrame shape: (14, 10)

In [29]:
#Task 5
import pandas as pd # Import the pandas library

# --- Step 1: Load the DataFrames from CSV files ---
# As per Task 1, always load the CSVs for each task.
df_projects = pd.read_csv('projects.csv')         # Load the projects.csv file
df_employees = pd.read_csv('employees.csv')       # Load the employees.csv file
df_seniority_levels = pd.read_csv('seniority_levels.csv') # Load the seniority_levels.csv file

# --- Step 2: Re-apply transformations from previous tasks to get df_final ---

# --- Re-apply Task 2: Impute missing 'Cost' values in df_projects using running average ---
# Initialize a list to store non-missing 'Cost' values for running average calculation
seen_costs = []
# Iterate through each row of the 'Cost' column in df_projects
for index, row in df_projects.iterrows():
    current_cost = row['Cost'] # Get the current cost value
    if pd.isna(current_cost): # Check if the current cost is missing (NaN)
        if len(seen_costs) > 0: # Ensure there are previous values to average
            running_avg = sum(seen_costs) / len(seen_costs) # Calculate running average
            df_projects.at[index, 'Cost'] = running_avg # Replace NaN with running average
        else:
            df_projects.at[index, 'Cost'] = 0 # Fallback if no prior non-missing values
    else:
        seen_costs.append(current_cost) # Add non-missing value to seen_costs

# --- Re-apply Task 3: Split 'Name' and remove original 'Name' column in df_employees ---
df_employees[['First Name', 'Last Name']] = df_employees['Name'].str.split(' ', n=1, expand=True) # Split 'Name' column
df_employees.drop('Name', axis=1, inplace=True) # Remove original 'Name' column
# Reorder columns for consistency/readability (optional)
cols = df_employees.columns.tolist()
desired_order_employee = ['ID', 'First Name', 'Last Name'] + [col for col in cols if col not in ['ID', 'First Name', 'Last Name']]
df_employees = df_employees[desired_order_employee]

# --- Re-apply Task 4: Join all three dataframes into df_final ---
# First Merge: Join Employee and Seniority Level DataFrames
df_merged_emp_seniority = pd.merge(df_employees, df_seniority_levels, on='ID', how='left')
# Second Merge: Join the result with the Project DataFrame to create df_final
df_final = pd.merge(df_projects, df_merged_emp_seniority, on='ID', how='left')

# Display df_final before adding the bonus column to see the starting point
print("--- Final DataFrame Before Adding Bonus Column ---")
print(df_final)
print("\n")

# --- Step 3: Add the new 'Bonus' column to df_final ---
# We'll use a conditional assignment to calculate the bonus.
# For rows where 'Status' is 'Finished', calculate 5% of 'Cost'.
# For all other rows (e.g., 'Ongoing', 'Failed', 'None'), the bonus will be 0.

# Apply the condition: if df_final['Status'] is 'Finished'
condition_finished = df_final['Status'] == 'Finished'

# Calculate the bonus for 'Finished' projects: 5% of 'Cost'
# Use .loc for setting values based on a condition for safety and clarity
df_final.loc[condition_finished, 'Bonus'] = df_final.loc[condition_finished, 'Cost'] * 0.05

# For projects that are NOT 'Finished', set the bonus to 0
# This fills the NaNs that would result from the previous step for non-finished projects
df_final.loc[~condition_finished, 'Bonus'] = 0

# --- Step 4: Display the Final DataFrame with the new 'Bonus' column ---
print("--- Final DataFrame After Adding Bonus Column ---")
print(df_final)

--- Final DataFrame Before Adding Bonus Column ---
      ID     Project          Cost    Status First Name  Last Name Gender  \
0   A001   Project 1  1.002000e+06  Finished       John      Alter      M
1   A002   Project 2  2.000000e+06   Ongoing      Alice  Luxemburg      F
2   A003   Project 3  4.500000e+05  Finished        Tom  Sabestine      M
3   A004   Project 4  5.500000e+06   Ongoing       Nina      Adgra      F
4   A005   Project 5  2.238000e+06  Finished        Amy      Johny      F
5   A002   Project 6  6.800000e+05    Failed      Alice  Luxemburg      F
6   A005   Project 7  4.000000e+05  Finished        Amy      Johny      F
7   A003   Project 8  3.500000e+05    Failed        Tom  Sabestine      M
8   A001   Project 9  1.483143e+06   Ongoing       John      Alter      M
9   A003  Project 10  3.000000e+05  Finished        Tom  Sabestine      M
10  A001  Project 11  2.000000e+06    Failed       John      Alter      M
11  A004  Project 12  1.000000e+06   Ongoing       Nina      Adgra      F
12  A004  Project 13  3.000000e+06  Finished       Nina      Adgra      F
13  A005  Project 14  2.000000e+05  Finished        Amy      Johny      F

       City  Age  Designation Level
0     Paris   25                  2
1    London   27                  2
2    Berlin   29                  3
3   Newyork   31                  2
4    Madrid   30                  3
5    London   27                  2
6    Madrid   30                  3
7    Berlin   29                  3
8     Paris   25                  2
9    Berlin   29                  3
10    Paris   25                  2
11  Newyork   31                  2
12  Newyork   31                  2
13   Madrid   30                  3


--- Final DataFrame After Adding Bonus Column ---
      ID     Project          Cost    Status First Name  Last Name Gender  \
0   A001   Project 1  1.002000e+06  Finished       John      Alter      M
1   A002   Project 2  2.000000e+06   Ongoing      Alice  Luxemburg      F
2   A003   Project 3  4.500000e+05  Finished        Tom  Sabestine      M
3   A004   Project 4  5.500000e+06   Ongoing       Nina      Adgra      F
4   A005   Project 5  2.238000e+06  Finished        Amy      Johny      F
5   A002   Project 6  6.800000e+05    Failed      Alice  Luxemburg      F
6   A005   Project 7  4.000000e+05  Finished        Amy      Johny      F
7   A003   Project 8  3.500000e+05    Failed        Tom  Sabestine      M
8   A001   Project 9  1.483143e+06   Ongoing       John      Alter      M
9   A003  Project 10  3.000000e+05  Finished        Tom  Sabestine      M
10  A001  Project 11  2.000000e+06    Failed       John      Alter      M
11  A004  Project 12  1.000000e+06   Ongoing       Nina      Adgra      F
12  A004  Project 13  3.000000e+06  Finished       Nina      Adgra      F
13  A005  Project 14  2.000000e+05  Finished        Amy      Johny      F

       City  Age  Designation Level     Bonus
0     Paris   25                  2   50100.0
1    London   27                  2       0.0
2    Berlin   29                  3   22500.0
3   Newyork   31                  2       0.0
4    Madrid   30                  3  111900.0
5    London   27                  2       0.0
6    Madrid   30                  3   20000.0
7    Berlin   29                  3       0.0
8     Paris   25                  2       0.0
9    Berlin   29                  3   15000.0
10    Paris   25                  2       0.0
11  Newyork   31                  2       0.0
12  Newyork   31                  2  150000.0
13   Madrid   30                  3   10000.0

In [7]:
#Task 6 
import pandas as pd # Import the pandas library

# --- Step 1: Load the DataFrames from CSV files ---
df_projects = pd.read_csv('projects.csv')
df_employees = pd.read_csv('employees.csv')
df_seniority_levels = pd.read_csv('seniority_levels.csv')

# --- Step 2: Re-apply transformations from previous tasks to get df_final ---

# --- Re-apply Task 2: Impute missing 'Cost' values in df_projects using running average ---
seen_costs = []
for index, row in df_projects.iterrows():
    current_cost = row['Cost']
    if pd.isna(current_cost):
        if len(seen_costs) > 0:
            running_avg = sum(seen_costs) / len(seen_costs)
            df_projects.at[index, 'Cost'] = running_avg
        else:
            df_projects.at[index, 'Cost'] = 0
    else:
        seen_costs.append(current_cost)

# --- Re-apply Task 3: Split 'Name' and remove original 'Name' column in df_employees ---
df_employees[['First Name', 'Last Name']] = df_employees['Name'].str.split(' ', n=1, expand=True)
df_employees.drop('Name', axis=1, inplace=True)
cols = df_employees.columns.tolist()
desired_order_employee = ['ID', 'First Name', 'Last Name'] + [col for col in cols if col not in ['ID', 'First Name', 'Last Name']]
df_employees = df_employees[desired_order_employee]

# --- Re-apply Task 4: Join all three dataframes into df_final ---
df_merged_emp_seniority = pd.merge(df_employees, df_seniority_levels, on='ID', how='left')
df_final = pd.merge(df_projects, df_merged_emp_seniority, on='ID', how='left')

# --- Re-apply Task 5: Add the 'Bonus' column to df_final ---
condition_finished = df_final['Status'] == 'Finished'
df_final.loc[condition_finished, 'Bonus'] = df_final.loc[condition_finished, 'Cost'] * 0.05
df_final.loc[~condition_finished, 'Bonus'] = 0

# Display df_final before Task 6 operations
print("--- Final DataFrame Before Task 6 Operations ---")
print(df_final)
print("\n")

# --- Step 3: Delete employees whose designation level is above 4 ---
df_final = df_final[df_final['Designation Level'] <= 4].copy()

# Display df_final after deletion
print("--- Final DataFrame After Deleting Records with Designation Level > 4 ---")
print(df_final)
print("\n")

# --- Step 4: Demote designation level by 1 for project heads whose projects have 'Failed' status ---
failed_project_ids = df_final[df_final['Status'] == 'Failed']['ID'].unique()
print(f"IDs associated with 'Failed' projects: {failed_project_ids}")

for p_id in failed_project_ids:
    current_level = df_final.loc[df_final['ID'] == p_id, 'Designation Level'].iloc[0]

    # CORRECTED LOGIC FOR DEMOTION: Increase numerical level by 1
    new_level = current_level + 1
    # Note: If new_level becomes > 4, these records would have been
    # removed by the initial deletion step in Task 6 if they were
    # already > 4. Here, we let it increase, and if it crosses 4,
    # it signifies that this person is now ineligible.
    # The prompt doesn't explicitly say to cap demotion at 4;
    # it says anyone crossing 4 loses eligibility (which means deletion happened).
    # So, increasing level from 3 to 4 is a demotion. If it goes from 4 to 5,
    # that person becomes ineligible, and if there's a subsequent filter, they'd be gone.
    # For now, we allow it to increase.

    df_final.loc[df_final['ID'] == p_id, 'Designation Level'] = new_level
    print(f"Demoted ID {p_id} from level {current_level} to {new_level}")


# --- Step 5: Display the Final DataFrame after all Task 6 operations ---
print("\n--- Final DataFrame After All Task 6 Operations (Demotion and Deletion) ---")
print(df_final)

--- Final DataFrame Before Task 6 Operations ---
      ID     Project          Cost    Status First Name  Last Name Gender  \
0   A001   Project 1  1.002000e+06  Finished       John      Alter      M
1   A002   Project 2  2.000000e+06   Ongoing      Alice  Luxemburg      F
2   A003   Project 3  4.500000e+06  Finished        Tom  Sabestine      M
3   A004   Project 4  5.500000e+06   Ongoing       Nina      Adgra      F
4   A005   Project 5  3.250500e+06  Finished        Amy      Johny      F
5   A002   Project 6  6.800000e+05    Failed      Alice  Luxemburg      F
6   A005   Project 7  4.000000e+05  Finished        Amy      Johny      F
7   A003   Project 8  3.500000e+05    Failed        Tom  Sabestine      M
8   A001   Project 9  2.061714e+06   Ongoing       John      Alter      M
9   A003  Project 10  3.000000e+05  Finished        Tom  Sabestine      M
10  A001  Project 11  2.000000e+06    Failed       John      Alter      M
11  A004  Project 12  1.000000e+06   Ongoing       Nina      Adgra      F
12  A004  Project 13  3.000000e+06  Finished       Nina      Adgra      F
13  A005  Project 14  2.000000e+05  Finished        Amy      Johny      F

       City  Age  Designation Level     Bonus
0     Paris   25                  2   50100.0
1    London   27                  2       0.0
2    Berlin   29                  3  225000.0
3   Newyork   31                  2       0.0
4    Madrid   30                  3  162525.0
5    London   27                  2       0.0
6    Madrid   30                  3   20000.0
7    Berlin   29                  3       0.0
8     Paris   25                  2       0.0
9    Berlin   29                  3   15000.0
10    Paris   25                  2       0.0
11  Newyork   31                  2       0.0
12  Newyork   31                  2  150000.0
13   Madrid   30                  3   10000.0


--- Final DataFrame After Deleting Records with Designation Level > 4 ---
      ID     Project          Cost    Status First Name  Last Name Gender  \
0   A001   Project 1  1.002000e+06  Finished       John      Alter      M
1   A002   Project 2  2.000000e+06   Ongoing      Alice  Luxemburg      F
2   A003   Project 3  4.500000e+06  Finished        Tom  Sabestine      M
3   A004   Project 4  5.500000e+06   Ongoing       Nina      Adgra      F
4   A005   Project 5  3.250500e+06  Finished        Amy      Johny      F
5   A002   Project 6  6.800000e+05    Failed      Alice  Luxemburg      F
6   A005   Project 7  4.000000e+05  Finished        Amy      Johny      F
7   A003   Project 8  3.500000e+05    Failed        Tom  Sabestine      M
8   A001   Project 9  2.061714e+06   Ongoing       John      Alter      M
9   A003  Project 10  3.000000e+05  Finished        Tom  Sabestine      M
10  A001  Project 11  2.000000e+06    Failed       John      Alter      M
11  A004  Project 12  1.000000e+06   Ongoing       Nina      Adgra      F
12  A004  Project 13  3.000000e+06  Finished       Nina      Adgra      F
13  A005  Project 14  2.000000e+05  Finished        Amy      Johny      F

       City  Age  Designation Level     Bonus
0     Paris   25                  2   50100.0
1    London   27                  2       0.0
2    Berlin   29                  3  225000.0
3   Newyork   31                  2       0.0
4    Madrid   30                  3  162525.0
5    London   27                  2       0.0
6    Madrid   30                  3   20000.0
7    Berlin   29                  3       0.0
8     Paris   25                  2       0.0
9    Berlin   29                  3   15000.0
10    Paris   25                  2       0.0
11  Newyork   31                  2       0.0
12  Newyork   31                  2  150000.0
13   Madrid   30                  3   10000.0


IDs associated with 'Failed' projects: ['A002' 'A003' 'A001']
Demoted ID A002 from level 2 to 3
Demoted ID A003 from level 3 to 4
Demoted ID A001 from level 2 to 3

--- Final DataFrame After All Task 6 Operations (Demotion and Deletion) ---
      ID     Project          Cost    Status First Name  Last Name Gender  \
0   A001   Project 1  1.002000e+06  Finished       John      Alter      M
1   A002   Project 2  2.000000e+06   Ongoing      Alice  Luxemburg      F
2   A003   Project 3  4.500000e+06  Finished        Tom  Sabestine      M
3   A004   Project 4  5.500000e+06   Ongoing       Nina      Adgra      F
4   A005   Project 5  3.250500e+06  Finished        Amy      Johny      F
5   A002   Project 6  6.800000e+05    Failed      Alice  Luxemburg      F
6   A005   Project 7  4.000000e+05  Finished        Amy      Johny      F
7   A003   Project 8  3.500000e+05    Failed        Tom  Sabestine      M
8   A001   Project 9  2.061714e+06   Ongoing       John      Alter      M
9   A003  Project 10  3.000000e+05  Finished        Tom  Sabestine      M
10  A001  Project 11  2.000000e+06    Failed       John      Alter      M
11  A004  Project 12  1.000000e+06   Ongoing       Nina      Adgra      F
12  A004  Project 13  3.000000e+06  Finished       Nina      Adgra      F
13  A005  Project 14  2.000000e+05  Finished        Amy      Johny      F

       City  Age  Designation Level     Bonus
0     Paris   25                  3   50100.0
1    London   27                  3       0.0
2    Berlin   29                  4  225000.0
3   Newyork   31                  2       0.0
4    Madrid   30                  3  162525.0
5    London   27                  3       0.0
6    Madrid   30                  3   20000.0
7    Berlin   29                  4       0.0
8     Paris   25                  3       0.0
9    Berlin   29                  4   15000.0
10    Paris   25                  3       0.0
11  Newyork   31                  2       0.0
12  Newyork   31                  2  150000.0
13   Madrid   30                  3   10000.0

In [8]:
# Task 7
import pandas as pd # Import the pandas library

# --- Step 1: Load the DataFrames from CSV files ---
# As per Task 1, always load the CSVs for each task.
df_projects = pd.read_csv('projects.csv')
df_employees = pd.read_csv('employees.csv')
df_seniority_levels = pd.read_csv('seniority_levels.csv')

# --- Step 2: Re-apply transformations from previous tasks to get df_final ---

# --- Re-apply Task 2: Impute missing 'Cost' values in df_projects using running average ---
seen_costs = []
for index, row in df_projects.iterrows():
    current_cost = row['Cost']
    if pd.isna(current_cost):
        if len(seen_costs) > 0:
            running_avg = sum(seen_costs) / len(seen_costs)
            df_projects.at[index, 'Cost'] = running_avg
        else:
            df_projects.at[index, 'Cost'] = 0
    else:
        seen_costs.append(current_cost)

# --- Re-apply Task 3: Split 'Name' and remove original 'Name' column in df_employees ---
df_employees[['First Name', 'Last Name']] = df_employees['Name'].str.split(' ', n=1, expand=True)
df_employees.drop('Name', axis=1, inplace=True)
cols = df_employees.columns.tolist()
desired_order_employee = ['ID', 'First Name', 'Last Name'] + [col for col in cols if col not in ['ID', 'First Name', 'Last Name']]
df_employees = df_employees[desired_order_employee]

# --- Re-apply Task 4: Join all three dataframes into df_final ---
df_merged_emp_seniority = pd.merge(df_employees, df_seniority_levels, on='ID', how='left')
df_final = pd.merge(df_projects, df_merged_emp_seniority, on='ID', how='left')

# --- Re-apply Task 5: Add the 'Bonus' column to df_final ---
condition_finished = df_final['Status'] == 'Finished'
df_final.loc[condition_finished, 'Bonus'] = df_final.loc[condition_finished, 'Cost'] * 0.05
df_final.loc[~condition_finished, 'Bonus'] = 0

# --- Re-apply Task 6: Demote/Delete based on Designation Level and Failed Projects ---
# Delete records where Designation Level is > 4
df_final = df_final[df_final['Designation Level'] <= 4].copy()

# Demote designation level by 1 for project heads whose projects have 'Failed' status
failed_project_ids = df_final[df_final['Status'] == 'Failed']['ID'].unique()
for p_id in failed_project_ids:
    current_level = df_final.loc[df_final['ID'] == p_id, 'Designation Level'].iloc[0]
    new_level = max(1, current_level - 1)
    df_final.loc[df_final['ID'] == p_id, 'Designation Level'] = new_level

# Display df_final before Task 7 operations
print("--- Final DataFrame Before Task 7 Operations ---")
print(df_final)
print("\n")

# --- Step 3: Add 'Mr.' and 'Mrs.' to the 'First Name' column based on 'Gender' ---
# Define a function to apply the prefix
def add_prefix_to_name(row):
    if row['Gender'] == 'M': # If gender is Male
        return 'Mr. ' + str(row['First Name']) # Add 'Mr.' prefix
    elif row['Gender'] == 'F': # If gender is Female
        return 'Mrs. ' + str(row['First Name']) # Add 'Mrs.' prefix
    else: # For any other gender value (e.g., NaN, if any)
        return str(row['First Name']) # Return name as is (or handle as needed)

# Apply the function row-wise to create the new 'First Name' values
# axis=1 means apply the function to each row
df_final['First Name'] = df_final.apply(add_prefix_to_name, axis=1)

# --- Step 4: Drop the 'Gender' column ---
# axis=1 indicates column, inplace=True modifies the DataFrame directly
df_final.drop('Gender', axis=1, inplace=True)

# --- Step 5: Display the Final DataFrame after Task 7 operations ---
print("--- Final DataFrame After Task 7 Operations ---")
print(df_final)

--- Final DataFrame Before Task 7 Operations ---
      ID     Project          Cost    Status First Name  Last Name Gender  \
0   A001   Project 1  1.002000e+06  Finished       John      Alter      M
1   A002   Project 2  2.000000e+06   Ongoing      Alice  Luxemburg      F
2   A003   Project 3  4.500000e+06  Finished        Tom  Sabestine      M
3   A004   Project 4  5.500000e+06   Ongoing       Nina      Adgra      F
4   A005   Project 5  3.250500e+06  Finished        Amy      Johny      F
5   A002   Project 6  6.800000e+05    Failed      Alice  Luxemburg      F
6   A005   Project 7  4.000000e+05  Finished        Amy      Johny      F
7   A003   Project 8  3.500000e+05    Failed        Tom  Sabestine      M
8   A001   Project 9  2.061714e+06   Ongoing       John      Alter      M
9   A003  Project 10  3.000000e+05  Finished        Tom  Sabestine      M
10  A001  Project 11  2.000000e+06    Failed       John      Alter      M
11  A004  Project 12  1.000000e+06   Ongoing       Nina      Adgra      F
12  A004  Project 13  3.000000e+06  Finished       Nina      Adgra      F
13  A005  Project 14  2.000000e+05  Finished        Amy      Johny      F

       City  Age  Designation Level     Bonus
0     Paris   25                  1   50100.0
1    London   27                  1       0.0
2    Berlin   29                  2  225000.0
3   Newyork   31                  2       0.0
4    Madrid   30                  3  162525.0
5    London   27                  1       0.0
6    Madrid   30                  3   20000.0
7    Berlin   29                  2       0.0
8     Paris   25                  1       0.0
9    Berlin   29                  2   15000.0
10    Paris   25                  1       0.0
11  Newyork   31                  2       0.0
12  Newyork   31                  2  150000.0
13   Madrid   30                  3   10000.0


--- Final DataFrame After Task 7 Operations ---
      ID     Project          Cost    Status  First Name  Last Name     City  \
0   A001   Project 1  1.002000e+06  Finished    Mr. John      Alter    Paris
1   A002   Project 2  2.000000e+06   Ongoing  Mrs. Alice  Luxemburg   London
2   A003   Project 3  4.500000e+06  Finished     Mr. Tom  Sabestine   Berlin
3   A004   Project 4  5.500000e+06   Ongoing   Mrs. Nina      Adgra  Newyork
4   A005   Project 5  3.250500e+06  Finished    Mrs. Amy      Johny   Madrid
5   A002   Project 6  6.800000e+05    Failed  Mrs. Alice  Luxemburg   London
6   A005   Project 7  4.000000e+05  Finished    Mrs. Amy      Johny   Madrid
7   A003   Project 8  3.500000e+05    Failed     Mr. Tom  Sabestine   Berlin
8   A001   Project 9  2.061714e+06   Ongoing    Mr. John      Alter    Paris
9   A003  Project 10  3.000000e+05  Finished     Mr. Tom  Sabestine   Berlin
10  A001  Project 11  2.000000e+06    Failed    Mr. John      Alter    Paris
11  A004  Project 12  1.000000e+06   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13  3.000000e+06  Finished   Mrs. Nina      Adgra  Newyork
13  A005  Project 14  2.000000e+05  Finished    Mrs. Amy      Johny   Madrid

    Age  Designation Level     Bonus
0    25                  1   50100.0
1    27                  1       0.0
2    29                  2  225000.0
3    31                  2       0.0
4    30                  3  162525.0
5    27                  1       0.0
6    30                  3   20000.0
7    29                  2       0.0
8    25                  1       0.0
9    29                  2   15000.0
10   25                  1       0.0
11   31                  2       0.0
12   31                  2  150000.0
13   30                  3   10000.0

In [9]:
#Task 8
import pandas as pd # Import the pandas library

# --- Step 1: Load the DataFrames from CSV files ---
# As per Task 1, always load the CSVs for each task.
df_projects = pd.read_csv('projects.csv')
df_employees = pd.read_csv('employees.csv')
df_seniority_levels = pd.read_csv('seniority_levels.csv')

# --- Step 2: Re-apply transformations from previous tasks to get df_final ---

# --- Re-apply Task 2: Impute missing 'Cost' values in df_projects using running average ---
seen_costs = []
for index, row in df_projects.iterrows():
    current_cost = row['Cost']
    if pd.isna(current_cost):
        if len(seen_costs) > 0:
            running_avg = sum(seen_costs) / len(seen_costs)
            df_projects.at[index, 'Cost'] = running_avg
        else:
            df_projects.at[index, 'Cost'] = 0
    else:
        seen_costs.append(current_cost)

# --- Re-apply Task 3: Split 'Name' and remove original 'Name' column in df_employees ---
df_employees[['First Name', 'Last Name']] = df_employees['Name'].str.split(' ', n=1, expand=True)
df_employees.drop('Name', axis=1, inplace=True)
cols = df_employees.columns.tolist()
desired_order_employee = ['ID', 'First Name', 'Last Name'] + [col for col in cols if col not in ['ID', 'First Name', 'Last Name']]
df_employees = df_employees[desired_order_employee]

# --- Re-apply Task 4: Join all three dataframes into df_final ---
df_merged_emp_seniority = pd.merge(df_employees, df_seniority_levels, on='ID', how='left')
df_final = pd.merge(df_projects, df_merged_emp_seniority, on='ID', how='left')

# --- Re-apply Task 5: Add the 'Bonus' column to df_final ---
condition_finished = df_final['Status'] == 'Finished'
df_final.loc[condition_finished, 'Bonus'] = df_final.loc[condition_finished, 'Cost'] * 0.05
df_final.loc[~condition_finished, 'Bonus'] = 0

# --- Re-apply Task 6: Demote/Delete based on Designation Level and Failed Projects ---
# Delete records where Designation Level is > 4
df_final = df_final[df_final['Designation Level'] <= 4].copy()

# Demote designation level by 1 for project heads whose projects have 'Failed' status
failed_project_ids = df_final[df_final['Status'] == 'Failed']['ID'].unique()
for p_id in failed_project_ids:
    current_level = df_final.loc[df_final['ID'] == p_id, 'Designation Level'].iloc[0]
    new_level = max(1, current_level - 1) # Ensure level doesn't go below 1
    df_final.loc[df_final['ID'] == p_id, 'Designation Level'] = new_level

# --- Re-apply Task 7: Add 'Mr.'/'Mrs.' and drop 'Gender' column ---
def add_prefix_to_name(row):
    if row['Gender'] == 'M':
        return 'Mr. ' + str(row['First Name'])
    elif row['Gender'] == 'F':
        return 'Mrs. ' + str(row['First Name'])
    else:
        return str(row['First Name'])
df_final['First Name'] = df_final.apply(add_prefix_to_name, axis=1)
df_final.drop('Gender', axis=1, inplace=True)

# Display df_final before Task 8 operations
print("--- Final DataFrame Before Task 8 Operations ---")
print(df_final)
print("\n")

# --- Step 3: Promote designation level for employees whose age is more than 29 years ---
# First, identify the unique IDs of employees whose age is greater than 29
eligible_for_promotion_ids = df_final[df_final['Age'] > 29]['ID'].unique()
print(f"IDs eligible for promotion (Age > 29): {eligible_for_promotion_ids}")

# Iterate through these unique IDs and apply the promotion
# The designation level is an attribute of the employee, so update across all their rows.
for p_id in eligible_for_promotion_ids:
    # Get the current designation level for this project head
    current_level = df_final.loc[df_final['ID'] == p_id, 'Designation Level'].iloc[0]

    # Promote by 1 means decrease the numerical value by 1 (e.g., 3 -> 2, 2 -> 1)
    # Ensure the level does not go below 1 (since 1 is the highest designation)
    new_level = max(1, current_level - 1)

    # Apply the new designation level to all rows for this specific project head ID
    df_final.loc[df_final['ID'] == p_id, 'Designation Level'] = new_level
    print(f"Promoted ID {p_id} from level {current_level} to {new_level}")

# --- Step 4: Display the Final DataFrame after Task 8 operations ---
print("\n--- Final DataFrame After Task 8 Operations (Promotion) ---")
print(df_final)

--- Final DataFrame Before Task 8 Operations ---
      ID     Project          Cost    Status  First Name  Last Name     City  \
0   A001   Project 1  1.002000e+06  Finished    Mr. John      Alter    Paris
1   A002   Project 2  2.000000e+06   Ongoing  Mrs. Alice  Luxemburg   London
2   A003   Project 3  4.500000e+06  Finished     Mr. Tom  Sabestine   Berlin
3   A004   Project 4  5.500000e+06   Ongoing   Mrs. Nina      Adgra  Newyork
4   A005   Project 5  3.250500e+06  Finished    Mrs. Amy      Johny   Madrid
5   A002   Project 6  6.800000e+05    Failed  Mrs. Alice  Luxemburg   London
6   A005   Project 7  4.000000e+05  Finished    Mrs. Amy      Johny   Madrid
7   A003   Project 8  3.500000e+05    Failed     Mr. Tom  Sabestine   Berlin
8   A001   Project 9  2.061714e+06   Ongoing    Mr. John      Alter    Paris
9   A003  Project 10  3.000000e+05  Finished     Mr. Tom  Sabestine   Berlin
10  A001  Project 11  2.000000e+06    Failed    Mr. John      Alter    Paris
11  A004  Project 12  1.000000e+06   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13  3.000000e+06  Finished   Mrs. Nina      Adgra  Newyork
13  A005  Project 14  2.000000e+05  Finished    Mrs. Amy      Johny   Madrid

    Age  Designation Level     Bonus
0    25                  1   50100.0
1    27                  1       0.0
2    29                  2  225000.0
3    31                  2       0.0
4    30                  3  162525.0
5    27                  1       0.0
6    30                  3   20000.0
7    29                  2       0.0
8    25                  1       0.0
9    29                  2   15000.0
10   25                  1       0.0
11   31                  2       0.0
12   31                  2  150000.0
13   30                  3   10000.0


IDs eligible for promotion (Age > 29): ['A004' 'A005']
Promoted ID A004 from level 2 to 1
Promoted ID A005 from level 3 to 2

--- Final DataFrame After Task 8 Operations (Promotion) ---
      ID     Project          Cost    Status  First Name  Last Name     City  \
0   A001   Project 1  1.002000e+06  Finished    Mr. John      Alter    Paris
1   A002   Project 2  2.000000e+06   Ongoing  Mrs. Alice  Luxemburg   London
2   A003   Project 3  4.500000e+06  Finished     Mr. Tom  Sabestine   Berlin
3   A004   Project 4  5.500000e+06   Ongoing   Mrs. Nina      Adgra  Newyork
4   A005   Project 5  3.250500e+06  Finished    Mrs. Amy      Johny   Madrid
5   A002   Project 6  6.800000e+05    Failed  Mrs. Alice  Luxemburg   London
6   A005   Project 7  4.000000e+05  Finished    Mrs. Amy      Johny   Madrid
7   A003   Project 8  3.500000e+05    Failed     Mr. Tom  Sabestine   Berlin
8   A001   Project 9  2.061714e+06   Ongoing    Mr. John      Alter    Paris
9   A003  Project 10  3.000000e+05  Finished     Mr. Tom  Sabestine   Berlin
10  A001  Project 11  2.000000e+06    Failed    Mr. John      Alter    Paris
11  A004  Project 12  1.000000e+06   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13  3.000000e+06  Finished   Mrs. Nina      Adgra  Newyork
13  A005  Project 14  2.000000e+05  Finished    Mrs. Amy      Johny   Madrid

    Age  Designation Level     Bonus
0    25                  1   50100.0
1    27                  1       0.0
2    29                  2  225000.0
3    31                  1       0.0
4    30                  2  162525.0
5    27                  1       0.0
6    30                  2   20000.0
7    29                  2       0.0
8    25                  1       0.0
9    29                  2   15000.0
10   25                  1       0.0
11   31                  1       0.0
12   31                  1  150000.0
13   30                  2   10000.0

In [11]:
#Task 9
import pandas as pd # Import the pandas library

# --- Step 1: Load the DataFrames from CSV files ---
# As per Task 1, always load the CSVs for each task.
df_projects = pd.read_csv('projects.csv') # Load the projects.csv file
df_employees = pd.read_csv('employees.csv') # Load the employees.csv file
df_seniority_levels = pd.read_csv('seniority_levels.csv') # Load the seniority_levels.csv file

# --- Step 2: Re-apply transformations from previous tasks to get df_final ---

# --- Re-apply Task 2: Impute missing 'Cost' values in df_projects using running average ---
seen_costs = [] # Initialize list to track non-missing costs encountered
for index, row in df_projects.iterrows(): # Iterate through each row of the DataFrame
    current_cost = row['Cost'] # Get the 'Cost' for the current row
    if pd.isna(current_cost): # Check if the current cost is a missing value (NaN)
        if len(seen_costs) > 0: # If there are previous non-missing values to average
            running_avg = sum(seen_costs) / len(seen_costs) # Calculate the running average
            df_projects.at[index, 'Cost'] = running_avg # Replace the missing value with the running average
        else:
            df_projects.at[index, 'Cost'] = 0 # Fallback: if no prior values, replace with 0
    else:
        seen_costs.append(current_cost) # If not missing, add cost to seen_costs for future averages

# --- Re-apply Task 3: Split 'Name' and remove original 'Name' column in df_employees ---
# Split the 'Name' column by the first space into 'First Name' and 'Last Name'
df_employees[['First Name', 'Last Name']] = df_employees['Name'].str.split(' ', n=1, expand=True)
df_employees.drop('Name', axis=1, inplace=True) # Remove the original 'Name' column
cols = df_employees.columns.tolist() # Get current column order
# Define and apply desired column order for readability
desired_order_employee = ['ID', 'First Name', 'Last Name'] + [col for col in cols if col not in ['ID', 'First Name', 'Last Name']]
df_employees = df_employees[desired_order_employee]

# --- Re-apply Task 4: Join all three dataframes into df_final ---
# First, merge employee details with their seniority levels
df_merged_emp_seniority = pd.merge(df_employees, df_seniority_levels, on='ID', how='left')
# Then, merge the projects data with the combined employee-seniority data to create df_final
df_final = pd.merge(df_projects, df_merged_emp_seniority, on='ID', how='left')

# --- Re-apply Task 5: Add the 'Bonus' column to df_final ---
condition_finished = df_final['Status'] == 'Finished' # Create a boolean condition for 'Finished' projects
df_final.loc[condition_finished, 'Bonus'] = df_final.loc[condition_finished, 'Cost'] * 0.05 # Calculate 5% bonus for finished projects
df_final.loc[~condition_finished, 'Bonus'] = 0 # Set bonus to 0 for non-finished projects

# --- Re-apply Task 6: Demote/Delete based on Designation Level and Failed Projects ---
# Delete records where Designation Level is above 4 (employees lose eligibility)
df_final = df_final[df_final['Designation Level'] <= 4].copy() # Filter to keep eligible records, .copy() to prevent warnings

# Identify unique IDs of project heads associated with 'Failed' projects
failed_project_ids = df_final[df_final['Status'] == 'Failed']['ID'].unique()
for p_id in failed_project_ids: # Loop through each identified ID
    current_level = df_final.loc[df_final['ID'] == p_id, 'Designation Level'].iloc[0] # Get current designation level
    new_level = current_level + 1 # Demote: Increase numerical level by 1
    df_final.loc[df_final['ID'] == p_id, 'Designation Level'] = new_level # Apply new level to all rows for this ID

# --- Re-apply Task 7: Add 'Mr.'/'Mrs.' and drop 'Gender' column ---
def add_prefix_to_name(row): # Define a function to add prefixes based on gender
    if row['Gender'] == 'M': # If gender is Male
        return 'Mr. ' + str(row['First Name'])
    elif row['Gender'] == 'F': # If gender is Female
        return 'Mrs. ' + str(row['First Name'])
    else: # Handle other cases or missing gender
        return str(row['First Name'])
df_final['First Name'] = df_final.apply(add_prefix_to_name, axis=1) # Apply the function row-wise
df_final.drop('Gender', axis=1, inplace=True) # Remove the 'Gender' column

# --- Re-apply Task 8: Promote based on Age > 29 ---
# Identify unique IDs of employees whose age is greater than 29
eligible_for_promotion_ids = df_final[df_final['Age'] > 29]['ID'].unique()
for p_id in eligible_for_promotion_ids: # Loop through each identified ID
    current_level = df_final.loc[df_final['ID'] == p_id, 'Designation Level'].iloc[0] # Get current designation level
    new_level = max(1, current_level - 1) # Promote: Decrease numerical level by 1, with a minimum of 1
    df_final.loc[df_final['ID'] == p_id, 'Designation Level'] = new_level # Apply new level to all rows for this ID

# Display df_final before Task 9 operations to confirm its state
print("--- Final DataFrame Before Task 9 Operations ---")
print(df_final)
print("\n")

# --- Step 3: Calculate the total cost of all projects for each Employee ---
# Group the df_final DataFrame by 'ID' and 'First Name'
# Then, sum the 'Cost' for each group (employee)
# .reset_index() converts the grouped 'ID' and 'First Name' from index levels back into regular columns
total_proj_cost_df = df_final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# --- Step 4: Rename the summed 'Cost' column to 'Total cost' ---
total_proj_cost_df.rename(columns={'Cost': 'Total cost'}, inplace=True)

# --- Step 5: Display the new 'TotalProjCost' DataFrame ---
print("--- Total Project Cost DataFrame (TotalProjCost) ---")
print(total_proj_cost_df)

--- Final DataFrame Before Task 9 Operations ---
      ID     Project          Cost    Status  First Name  Last Name     City  \
0   A001   Project 1  1.002000e+06  Finished    Mr. John      Alter    Paris
1   A002   Project 2  2.000000e+06   Ongoing  Mrs. Alice  Luxemburg   London
2   A003   Project 3  4.500000e+06  Finished     Mr. Tom  Sabestine   Berlin
3   A004   Project 4  5.500000e+06   Ongoing   Mrs. Nina      Adgra  Newyork
4   A005   Project 5  3.250500e+06  Finished    Mrs. Amy      Johny   Madrid
5   A002   Project 6  6.800000e+05    Failed  Mrs. Alice  Luxemburg   London
6   A005   Project 7  4.000000e+05  Finished    Mrs. Amy      Johny   Madrid
7   A003   Project 8  3.500000e+05    Failed     Mr. Tom  Sabestine   Berlin
8   A001   Project 9  2.061714e+06   Ongoing    Mr. John      Alter    Paris
9   A003  Project 10  3.000000e+05  Finished     Mr. Tom  Sabestine   Berlin
10  A001  Project 11  2.000000e+06    Failed    Mr. John      Alter    Paris
11  A004  Project 12  1.000000e+06   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13  3.000000e+06  Finished   Mrs. Nina      Adgra  Newyork
13  A005  Project 14  2.000000e+05  Finished    Mrs. Amy      Johny   Madrid

    Age  Designation Level     Bonus
0    25                  3   50100.0
1    27                  3       0.0
2    29                  4  225000.0
3    31                  1       0.0
4    30                  2  162525.0
5    27                  3       0.0
6    30                  2   20000.0
7    29                  4       0.0
8    25                  3       0.0
9    29                  4   15000.0
10   25                  3       0.0
11   31                  1       0.0
12   31                  1  150000.0
13   30                  2   10000.0


--- Total Project Cost DataFrame (TotalProjCost) ---
     ID  First Name    Total cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

In [10]:
#Task 10
import pandas as pd # Import the pandas library

# --- Step 1: Load the DataFrames from CSV files ---
# As per Task 1, always load the CSVs for each task.
df_projects = pd.read_csv('projects.csv') # Load the projects.csv file
df_employees = pd.read_csv('employees.csv') # Load the employees.csv file
df_seniority_levels = pd.read_csv('seniority_levels.csv') # Load the seniority_levels.csv file

# --- Step 2: Re-apply transformations from previous tasks to get df_final ---

# --- Re-apply Task 2: Impute missing 'Cost' values in df_projects using running average ---
seen_costs = [] # Initialize list to track non-missing costs encountered
for index, row in df_projects.iterrows(): # Iterate through each row of the DataFrame
    current_cost = row['Cost'] # Get the 'Cost' for the current row
    if pd.isna(current_cost): # Check if the current cost is a missing value (NaN)
        if len(seen_costs) > 0: # If there are previous non-missing values to average
            running_avg = sum(seen_costs) / len(seen_costs) # Calculate the running average
            df_projects.at[index, 'Cost'] = running_avg # Replace the missing value with the running average
        else:
            df_projects.at[index, 'Cost'] = 0 # Fallback: if no prior values, replace with 0
    else:
        seen_costs.append(current_cost) # If not missing, add cost to seen_costs for future averages

# --- Re-apply Task 3: Split 'Name' and remove original 'Name' column in df_employees ---
# Split the 'Name' column by the first space into 'First Name' and 'Last Name'
df_employees[['First Name', 'Last Name']] = df_employees['Name'].str.split(' ', n=1, expand=True)
df_employees.drop('Name', axis=1, inplace=True) # Remove the original 'Name' column
cols = df_employees.columns.tolist() # Get current column order
# Define and apply desired column order for readability
desired_order_employee = ['ID', 'First Name', 'Last Name'] + [col for col in cols if col not in ['ID', 'First Name', 'Last Name']]
df_employees = df_employees[desired_order_employee]

# --- Re-apply Task 4: Join all three dataframes into df_final ---
# First, merge employee details with their seniority levels
df_merged_emp_seniority = pd.merge(df_employees, df_seniority_levels, on='ID', how='left')
# Then, merge the projects data with the combined employee-seniority data to create df_final
df_final = pd.merge(df_projects, df_merged_emp_seniority, on='ID', how='left')

# --- Re-apply Task 5: Add the 'Bonus' column to df_final ---
condition_finished = df_final['Status'] == 'Finished' # Create a boolean condition for 'Finished' projects
df_final.loc[condition_finished, 'Bonus'] = df_final.loc[condition_finished, 'Cost'] * 0.05 # Calculate 5% bonus for finished projects
df_final.loc[~condition_finished, 'Bonus'] = 0 # Set bonus to 0 for non-finished projects

# --- Re-apply Task 6: Demote/Delete based on Designation Level and Failed Projects ---
# Delete records where Designation Level is above 4 (employees lose eligibility)
df_final = df_final[df_final['Designation Level'] <= 4].copy() # Filter to keep eligible records, .copy() to prevent warnings

# Identify unique IDs of project heads associated with 'Failed' projects
failed_project_ids = df_final[df_final['Status'] == 'Failed']['ID'].unique()
for p_id in failed_project_ids: # Loop through each identified ID
    current_level = df_final.loc[df_final['ID'] == p_id, 'Designation Level'].iloc[0] # Get current designation level
    # CORRECTED LOGIC FOR DEMOTION: Increase numerical level by 1
    new_level = current_level + 1 # Demote: Increase numerical level by 1
    df_final.loc[df_final['ID'] == p_id, 'Designation Level'] = new_level # Apply new level to all rows for this ID

# --- Re-apply Task 7: Add 'Mr.'/'Mrs.' and drop 'Gender' column ---
def add_prefix_to_name(row): # Define a function to add prefixes based on gender
    if row['Gender'] == 'M': # If gender is Male
        return 'Mr. ' + str(row['First Name'])
    elif row['Gender'] == 'F': # If gender is Female
        return 'Mrs. ' + str(row['First Name'])
    else: # Handle other cases or missing gender
        return str(row['First Name'])
df_final['First Name'] = df_final.apply(add_prefix_to_name, axis=1) # Apply the function row-wise
df_final.drop('Gender', axis=1, inplace=True) # Remove the 'Gender' column

# --- Re-apply Task 8: Promote based on Age > 29 ---
# Identify unique IDs of employees whose age is greater than 29
eligible_for_promotion_ids = df_final[df_final['Age'] > 29]['ID'].unique()
for p_id in eligible_for_promotion_ids: # Loop through each identified ID
    current_level = df_final.loc[df_final['ID'] == p_id, 'Designation Level'].iloc[0] # Get current designation level
    new_level = max(1, current_level - 1) # Promote: Decrease numerical level by 1, with a minimum of 1
    df_final.loc[df_final['ID'] == p_id, 'Designation Level'] = new_level # Apply new level to all rows for this ID

# --- Task 9: Calculate total project cost per employee (this creates a new DataFrame, so df_final remains unchanged for Task 10) ---
total_proj_cost_df = df_final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_proj_cost_df.rename(columns={'Cost': 'Total cost'}, inplace=True)

# Display df_final before Task 10 operations to confirm its state
print("--- Final DataFrame Before Task 10 Operations ---")
print(df_final)
print("\n")

# --- Step 3: Filter and Print employee details whose city name contains the letter 'o' ---

# Create a boolean condition: check if 'City' column contains 'o' or 'O'
# .str.contains() is used for string pattern matching
# case=False makes the search case-insensitive (matches 'o' or 'O')
# na=False ensures that any NaN values in 'City' are treated as False and don't raise errors
city_contains_o_condition = df_final['City'].str.contains('o', case=False, na=False)

# Filter the DataFrame using the condition
employees_with_o_in_city = df_final[city_contains_o_condition]

# Print the filtered DataFrame
print("--- Employee Details Whose City Name Contains the Letter 'o' ---")
print(employees_with_o_in_city)

--- Final DataFrame Before Task 10 Operations ---
      ID     Project          Cost    Status  First Name  Last Name     City  \
0   A001   Project 1  1.002000e+06  Finished    Mr. John      Alter    Paris
1   A002   Project 2  2.000000e+06   Ongoing  Mrs. Alice  Luxemburg   London
2   A003   Project 3  4.500000e+06  Finished     Mr. Tom  Sabestine   Berlin
3   A004   Project 4  5.500000e+06   Ongoing   Mrs. Nina      Adgra  Newyork
4   A005   Project 5  3.250500e+06  Finished    Mrs. Amy      Johny   Madrid
5   A002   Project 6  6.800000e+05    Failed  Mrs. Alice  Luxemburg   London
6   A005   Project 7  4.000000e+05  Finished    Mrs. Amy      Johny   Madrid
7   A003   Project 8  3.500000e+05    Failed     Mr. Tom  Sabestine   Berlin
8   A001   Project 9  2.061714e+06   Ongoing    Mr. John      Alter    Paris
9   A003  Project 10  3.000000e+05  Finished     Mr. Tom  Sabestine   Berlin
10  A001  Project 11  2.000000e+06    Failed    Mr. John      Alter    Paris
11  A004  Project 12  1.000000e+06   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13  3.000000e+06  Finished   Mrs. Nina      Adgra  Newyork
13  A005  Project 14  2.000000e+05  Finished    Mrs. Amy      Johny   Madrid

    Age  Designation Level     Bonus
0    25                  3   50100.0
1    27                  3       0.0
2    29                  4  225000.0
3    31                  1       0.0
4    30                  2  162525.0
5    27                  3       0.0
6    30                  2   20000.0
7    29                  4       0.0
8    25                  3       0.0
9    29                  4   15000.0
10   25                  3       0.0
11   31                  1       0.0
12   31                  1  150000.0
13   30                  2   10000.0


--- Employee Details Whose City Name Contains the Letter 'o' ---
      ID     Project       Cost    Status  First Name  Last Name     City  \
1   A002   Project 2  2000000.0   Ongoing  Mrs. Alice  Luxemburg   London
3   A004   Project 4  5500000.0   Ongoing   Mrs. Nina      Adgra  Newyork
5   A002   Project 6   680000.0    Failed  Mrs. Alice  Luxemburg   London
11  A004  Project 12  1000000.0   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13  3000000.0  Finished   Mrs. Nina      Adgra  Newyork

    Age  Designation Level     Bonus
1    27                  3       0.0
3    31                  1       0.0
5    27                  3       0.0
11   31                  1       0.0
12   31                  1  150000.0